<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Image aléatoire de la NASA</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if image_nasa %}
        <div class="container">
            <div class="content">
                <h1>{{ image_nasa.title }}</h1>
                <p>Date : {{ image_nasa.date }}</p>
                <p>{{ image_nasa.explanation }}</p>
            </div>
            <div class="image-container" style="background-image: url('{{ image_nasa.url }}');">
                <!-- L'image est en arrière-plan ici -->
            </div>
        </div>
    {% else %}
        <p>Image non disponible.</p>
    {% endif %}
</body>
</html>
